:root{
    --fontSize:20px;
}

h1{
    text-align: center;
    color:slategray;
    border: 3px double gray;
}

blockquote {
     border-left: 3px solid #766;
     padding-left: 5px;
     font-size: var(--fontSize);
     color: #497;
     max-width: 250px;
}

.col-sm-4{
    border:5px solid #000;
}

p {
     text-align: right;
     font-size: calc(var(--fontSize)-5);
     color: cornflowerblue;
     padding: 3px;
}

body {
    background-image: url("../images/phone-wallpaper.jpg");
}
body {
    background-image: url("../images/phone-wallpaper.jpg");
}
@media screen and (min-width:1441px) and (max-width:1920px) {
    body {
        background-image: url("../images/computer-wallpaper.jpg");
    }
    .col-sm-4{
        border: 5px solid gray;
    }
}
@media screen and (min-width:768px) and (max-width:1441px) {
    body {
        background-image: url("../images/computer-wallpaper.jpg");
    }
    .col-sm-4{
        border: 5px double gray;
    }
}
@media screen and (min-width:0px) and (max-width:768px) {
    body {
        background-image: url("../images/phone-wallpaper.jpg");
    }
    .col-sm-4{
        border: 5px solid gray;
    }

}
   
   